{
    "Discord": {
        "needssl": false,
        "port": 8090,
        "prefix": "A new system event occurred on your %HOSTNAME%",
        "req_header": "",
        "req_method": "post",
        "req_param": "{\"username\":\"Synology\", \"avatar_url\": \"https://play-lh.googleusercontent.com/HjbYWbXJ-6e6Cia-mBbHDSdontW1yE6MHMaXqlHW80CQegDOEPQ1HGACxvEpnqCUHgo\", \"embeds\": [{\"description\": \"@@TEXT@@\", \"title\": \"@@PREFIX@@\"}]}",
        "sepchar": " ",
        "template": "{{ webhook_url }}",
        "type": "custom",
        "url": "{{ webhook_url }}"
    }
}