*.retry
*~
.terraform
terraform.tfstate*
crash.log
.env/
ansible/inventory/host_vars/perso.*
ansible/vault-password.txt

terraform/global_vars/main.tf

.env/
*.code-workspace
*.swp
terraform/global_vars/gitcrypt-key

.DS_Store
.vscode
