{% macro ssh_user_authorized_keys(peer_names, extra_ssh_authorized_keys=[]) %}
# {{ ansible_managed }}
{% for peer in peer_names %}
# {{ peer }}
{{ peers[peer]['ssh']['pubkey'] }}
{% endfor %}
{% endmacro %}
