{% macro wireguard_peer() %}
# {{ ansible_managed }}

[Interface]
Address = {{ peers[ansible_facts['nodename']]['wireguard']['ip'] }}/32
PrivateKey = {{ peers[ansible_facts['nodename']]['wireguard']['privkey'] }}

[Peer]
Endpoint = {{ peers['chambonas']['wireguard']['peer']['private'] -}}:{{ peers['chambonas']['wireguard']['peer']['port'] }}
PublicKey = {{ peers['chambonas']['wireguard']['pubkey'] }}
AllowedIPs = 192.168.0.0/16
{% endmacro %}