{% from "macros/systemd_user_service.j2" import systemd_user_service with context %}
{{ systemd_user_service("Personal finance manager") }}
WorkingDirectory={{ kresus_dir }}
User={{ kresus_user }}
Environment=NODE_ENV=production
Environment=KRESUS_PYTHON_EXEC=python
Environment=KRESUS_WEBOOB_DIR={{ weboob_dir }}
Environment=KRESUS_DIR={{ kresus_tmpfs_mount }}
ExecStartPre=/usr/bin/rsync -ar {{ kresus_user_home }}/.kresus/ {{ kresus_tmpfs_mount }}
ExecStart=/usr/local/bin/node bin/kresus.js
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=kresus
