jwt_secret: {{ authelia_jwt_secret }}
default_redirection_url: https://{{ authelia_domain }}

authentication_backend:
  file:
    path: /config/users_database.yml

access_control:
  rules:
    - domain:
        - "{{ yarr_domain }}"
        - "{{ silverbullet_domain }}"
      policy: two_factor

session:
  secret: {{ authelia_session_secret }}
  domain: {{ main_domain }}

storage:
  encryption_key: {{ authelia_storage_encryption_key }}
  local:
    path: /config/authelia.db

notifier:
  filesystem:
    filename: /config/notification.txt

duo_api:
  disable: false
  hostname: {{ duo_api_hostname }}
  integration_key: {{ duo_api_integration_key }}
  secret_key: {{ duo_api_secret_key }}
  enable_self_enrollment: false
