{% from "macros/systemd_user_service.j2" import systemd_user_service with context %}
{{ systemd_user_service("Web service displaying requester's IP") }}
ExecStart=/usr/local/bin/myip -listen-addr localhost:{{ myip_port }} -proxy-header X-Forwarded-For
