[Unit]
Description=The Lounge IRC client
After=lounge.service

[Service]
Type=simple
ExecStart=/usr/local/bin/lounge start
NoNewPrivileges=true
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target

