# {{ ansible_managed }}

server {
    listen 80;
    server_name www.{{ blog_domain }} {{ blog_domain }};
    rewrite ^ https://{{ blog_domain }}$request_uri? ;
}

server {
    listen 443 ssl;

    ssl_certificate {{ certbot_live_home }}/{{ blog_domain }}/fullchain.pem;
    ssl_certificate_key {{ certbot_live_home }}/{{ blog_domain }}/privkey.pem;
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains";
    add_header X-Content-Type-Options nosniff;
    add_header X-Frame-Options "SAMEORIGIN";
    add_header Strict-Transport-Security "max-age=63072000;" always;

    server_name {{ blog_domain }};

    root {{ blog_web_dir }};
    index index.html;

    # Letsencrypt challenge
    location {{ web_acme_challenge_location }} {
        root {{ web_home }};
        allow all;
        try_files $uri $uri/ =404;
    }

    # Datadog endpoint
    location {{ web_datadog_agent_nginx_check_location }} {
        stub_status on;
    }

    location / {
        try_files $uri $uri/ @htmlext;
    }

    location ~ \.html$ {
        try_files $uri =404;
    }

    location @htmlext {
        rewrite ^(.*)$ $1.html last;
    }

    location /slides {
        autoindex on;
    }

}
