#!/bin/bash

# {{ ansible_managed }}

set -eu

BLOG_DIR={{ web_home }}/blog
TMP_BLOG_CLONE=$HOME/blog-tmp
BLOG_GIT={{ git_home }}/blog.git
THEME=pelican-hss
THEME_DIR=themes/${THEME}
CSS_DIR=${THEME_DIR}/static/css


function cleanup {
    rm -rf $TMP_BLOG_CLONE
    rm -rf $BLOG_DIR/.git
}

trap cleanup EXIT

function replace {
    sed -i s/$1/$2/g $3
}

git clone $BLOG_GIT $TMP_BLOG_CLONE
cd $TMP_BLOG_CLONE

# Minify all CSS files and replace plain CSS files by their
# minify versions in the theme template
for file in $(ls -1 $CSS_DIR); do
    minified_file="$(basename "$file" .css).min.css"
    cssmin <$TMP_BLOG_CLONE/$CSS_DIR/$file > $TMP_BLOG_CLONE/$CSS_DIR/$minified_file
    replace $file $minified_file ${THEME_DIR}/templates/base.html
done

git clone https://github.com/getpelican/pelican-plugins

# Make and deploy
source {{ git_home }}/.blog.venv/bin/activate
poetry install
make html
cp -r output/* $BLOG_DIR

# Cleanup
cd ..
cleanup
