#!/bin/bash

# {{ ansible_managed }}

set -e

BLOG_DIR={{ web_home }}/blog
TMP_BLOG_CLONE=$HOME/blog-tmp
BLOG_GIT={{ git_home }}/blog.git
CSS_DIR=themes/pelican-hss/static/css


function cleanup {
    rm -rf $TMP_BLOG_CLONE
    rm -rf $BLOG_DIR/.git
}

trap cleanup EXIT

function replace {
    sed -i s/$1/$2/g $3
}

git clone $BLOG_GIT $TMP_BLOG_CLONE
cd $TMP_BLOG_CLONE

# Minify all CSS files and replace plain CSS files by their
# minify versions in the theme template
git clone https://github.com/getpelican/pelican-plugins

# Make and deploy
make html
cp -r output/* $BLOG_DIR

# Cleanup
cd ..
cleanup
