# {{ ansible_managed }}

[Interface]
Address = {{ peers['chambonas']['wireguard']['ip']}}/32
ListenPort = {{ peers['chambonas']['wireguard']['peer']['port'] }}
PrivateKey = {{ peers['chambonas']['wireguard']['privkey'] }}
PostUp = iptables -A FORWARD -i wg0 -j ACCEPT; iptables -A FORWARD -o eth0 -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -D FORWARD -o eth0 -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

{% for peer_name, peer_data in peers.items() %}
{% if peer_name != 'chambonas' %}
[Peer]
# {{ peer_name }}
PublicKey = {{ peer_data['wireguard']['pubkey'] }}
AllowedIps = {{ peer_data['wireguard']['ip'] }}/32

{% endif %}
{% endfor %}