[Interface]
Address = {{ wg0_ip }}/32
PrivateKey = {{ wg0_private_key }}
Table = {{ vpn_routing_table_id }}

[Peer]
Endpoint = {{ wg0_server_peer_endpoint }}
PublicKey = {{ wg0_server_peer_public_key }}
AllowedIPs = 0.0.0.0/0
