# {{ ansible_managed }}

[Interface]
Address = {{ wg1_ip }}/32
PrivateKey = {{ wg1_private_key }}
Table = {{ vpn_routing_table_id }}

[Peer]
Endpoint = {{ wg1_server_peer_endpoint }}
PublicKey = {{ wg1_server_peer_public_key }}
AllowedIPs = 0.0.0.0/0
