# {{ ansible_managed }}

[Interface]
PrivateKey = {{ wg1_server_interface_private_key }}
Address = {{ wg1_server_interface_address }}
ListenPort = {{ wg1_server_interface_port }}

{% for peer in wg1_peers %}
# {{ peer.comment }}
[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.allowed_ips }}

{% endfor %}
