# {{ ansible_managed }}

[Unit]
Description=Web analytics
After=multi-user.service

[Service]
WorkingDirectory={{ fathom_home }}
NoNewPrivileges=true
Type=simple
ExecStart={{ fathom_home }}/fathom server
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target
