# {{ ansible_managed }}

server {
    listen 80;
    server_name {{ fathom_domain }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name {{ fathom_domain }};

    ssl_certificate /etc/letsencrypt/live/{{ fathom_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ fathom_domain }}/privkey.pem;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers ALL:!aNULL:!eNULL:!LOW:!EXP:!RC4:!3DES:+HIGH:+MEDIUM;
    ssl_prefer_server_ciphers on;


    # Letsencrypt challenge
    location {{ web_acme_challenge_location }} {
        root {{ web_home }};
        allow all;
        try_files $uri $uri/ =404;
    }

    # Datadog endpoint
    location {{ web_datadog_agent_nginx_check_location }} {
        stub_status on;
    }

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect http:// https://;
        proxy_pass http://localhost:{{ fathom_port }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}