{
    "user": "balto",
    "password": "$2a$11$IY7By9vVP.JRbGpWvXfMJ.YWLgnIXICG0sMOomYH5IcnuN57cClva",
    "log": false,
    "networks": [
        {
            "nick": "balto",
            "name": "Mozilla",
            "host": "irc.mozilla.org",
            "port": 6697,
            "tls": true,
            "password": "{{ vault_lounge_irc_mozilla_password }}",
            "username": "{{ vault_lounge_irc_mozilla_username }}",
            "realname": "Balthazar Rouberol",
            "commands": [],
            "ip": "92.157.175.179",
            "hostname": null,
            "channels": [
                {
                    "name": "#mozlyon"
                },
                {
                    "name": "#insa"
                }
            ]
        },
        {
            "nick": "brouberol",
            "name": "Freenode",
            "host": "chat.freenode.net",
            "port": 6697,
            "tls": true,
            "password": "{{ vault_lounge_irc_freenode_password }}",
            "username": "{{ vault_lounge_irc_freenode_username }}",
            "realname": "Balthazar Rouberol",
            "commands": [],
            "ip": "92.157.175.179",
            "hostname": null,
            "channels": [
                {}
            ]
        }
    ],
    "token": "dde02d6c7dce9cbc72d5b253b8052c56daa130230ef5aaad8f46752c58da33b259bfa2bd50a48d3f900637f21cdae800"
}
