{{ ansible_managed }}
[Install]
WantedBy=default.target

[Unit]
Description=Slack app
After=multi-user.service

[Service]
Type=forking
NoNewPrivileges=true
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3
WorkingDirectory={{ slack_home }}
ExecStart=/usr/bin/tmux new -d -s slack '.env/bin/python3 app.py'
